---
import Layout from "~/layouts/Layout.astro";
import Section from "~/components/Section.astro";
import Hero from "~/components/Hero.astro";
import { Picture } from "astro:assets";
import Badge from "~/components/Badge.astro";
import Button from "~/components/Button.astro";
import ButtonCallUs from "~/components/ButtonCallUs.astro";
import Article from "~/components/Article.astro";

// Images
import PizzaHero from "~/assets/images/pizza-hero.png";
---

<Layout>
	<Section class:list={"bg-white"}>
		<Hero>
			<div slot="hero-content-left" class="prose max-w-none max-lg:order-1">
				<Badge title="89 Grill & Terraza" />
				<h1 class="font-black">Nuestra Historia</h1>

				<p>
					89 Grill and Terraza es una empresa que nació
 durante la pandemia como respuesta a la
 necesidad de crear un espacio seguro y cómodo
 para compartir momentos especiales. Con un
 enfoque en ofrecer una experiencia gastronómica
 única, 89 Grill and Terraza combina la calidez de
 una parrilla tradicional con un ambiente al aire
 libre que invita al disfrute y la relajación.
				</p>

				<!-- <span class="text-brand-green font-medium">✔ We also deliver</span>

				<div class="mt-8 flex items-center gap-x-8">
					<Button url="/book">Book now</Button>
					<ButtonCallUs />
				</div> -->
			</div>
			<div slot="hero-content-right">
				<Picture
					class:list={"mx-auto"}
					src={PizzaHero}
					height={600}
					formats={["avif", "webp"]}
					alt="A description of my image."
					loading={"eager"}
					fetchpriority={"high"}
				/>
			</div>
		</Hero>
	</Section>

	<Section class:list={'bg-white'}>
		<Article>
			<h2>Camareros y Servicios</h2>
			<p>
				 El servicio en 89 Grill and Terraza se
 caracteriza por ser cordial y atento.
 Los camareros suelen ser amables y
 están dispuestos a guiarte a través
 del menú, recomendando platos
 según tus gustos. El ambiente es
 relajado, ideal para disfrutar de una
 comida tranquila, y los camareros
 están siempre disponibles para
 atender cualquier solicitud de
 manera rápida y eficiente. En
 general, los visitantes comentan que
 la atención al cliente es uno de los
 puntos fuertes del lugar, con un
 enfoque en ofrecer una experiencia
 agradable y sin estrés.

			</p>

			<!-- <h3>Our Story</h3>
			<p>
				Founded in <em>1998</em>, our family-owned restaurant has always been a labor of love. Inspired by the
				recipes passed down through generations, we bring the <u>rich culinary heritage</u> of Italy to your plate.
				Every dish tells a story, and every meal is a celebration of flavor.
			</p>

			<h3>Our Philosophy</h3>
			<blockquote>"The secret ingredient is always love."</blockquote>
			<p>
				At AstroPie, we believe in the simple joy of fresh ingredients, time-honored techniques, and a
				passion for creating memorable meals. From our hand-rolled pasta to our wood-fired pizzas, every bite is
				crafted with care.
			</p> -->

			<h4>Ambientación</h4>
			<ul>
				<li><strong>Espacio para comensales:</strong> Se enfocan  en la entrega a domicilio, y físico para recibir clientes.</li>
				<li><strong>Uso de tecnología avanzada:</strong> Se emplean herramientas digitales
 para gestionar pedidos, optimizar la
 logística y automatizar procesos en la
 cocina.</li>
				<li><strong>Menús diseñados
 para delivery y
 local :</strong> Los platos están pensados para
 garantizar que lleguen en buenas
 condiciones tras el tiempo de
 transporte y tengan una experiencia
 en el local.</li>
			</ul>

			<!-- <h3>Join Us</h3>
			<p>
				Whether you're celebrating a special occasion or simply indulging in the pleasures of Italian cuisine, <strong
					>AstroPie</strong
				> is the perfect destination. <em>Come for the food, stay for the memories.</em>
			</p> -->
		</Article>
	</Section>
</Layout>
