---
import StarRating from '../startRating.astro';

const categories = [
  { id: 'ambiente', label: 'Ambiente' },
  { id: 'comida', label: 'Comida' },
  { id: 'bebidas', label: 'Bebidas' },
  { id: 'atencion', label: 'Atención' },
  { id: 'parqueo', label: 'Parqueo' },
  { id: 'tiempo_espera', label: 'Tiempo de espera' }
];
---

<form action="#" method="POST" id="rating-form">
    <div class="flex flex-col gap-8 mx-auto max-w-md">
        {categories.map(category => (
            <div>
                <label style="font-size: 25px;"  for={category.id}>{category.label}</label>
                <div class="mt-2">
                    <StarRating name={category.id} rating={0} />
                </div>
            </div>
        ))}

        <div>
            <label style="font-size: 25px;" for="message">Comentario</label>
            <div class="mt-2">
                <textarea name="message" id="message" rows="4" required></textarea>
            </div>
        </div>

        <div>
            <button type="submit" class="button button-green group !px-8">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="currentColor"
                    class="size-5 -rotate-45 -mt-1 inline-block mr-1 group-hover:rotate-0 transition duration-300"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        d="M6 12 3.269 3.125A59.769 59.769 0 0 1 21.485 12 59.768 59.768 0 0 1 3.27 20.875L5.999 12Zm0 0h7.5"
                    ></path>
                </svg>
                Enviar
            </button>
        </div>
    </div>
</form>

<script is:inline>
  document.getElementById('rating-form').addEventListener('submit', function(e) {
    e.preventDefault();
    
    const formData = new FormData(this);
    const ratings = {
      message: formData.get('message')
    };
    
    // Obtenemos todas las categorías dinámicamente
    const ratingInputs = this.querySelectorAll('input[type="hidden"]');
    ratingInputs.forEach(input => {
      ratings[input.name] = input.value;
    });


    fetch('/api/ratings', {
  method: 'POST',
  body: JSON.stringify(ratings),
  headers: { 'Content-Type': 'application/json' }
})
  .then((res) => res.json())
  .then((data) => console.log('Respuesta del servidor:', data));
    
    // Opcional: Mostrar mensaje de éxito
    alert('¡Gracias por tu valoración!');
  });
</script>